.header
{
    width: 75%;
    margin: auto;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2em;
    line-height: 2em;
    color: #23d18b;
    border: 1px solid white;
    box-sizing: border-box;
}

.blinking
{
    animation: blinker 1s linear infinite;
    font-size: 1em; 
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}