.task {
  width: auto;
  line-height: 1em;
  border: 1px solid black;
  margin: 1em;
  background-color: white;
  display: grid;
  padding: 2em 2em 0em 2em;

  &:hover {
    cursor: move;
    background-color: lightyellow;
  }

  &__textArea {
    resize: none;
    width: inherit;
    color: black;
    text-align: center;
    border: #67217a dashed 1px;
    font-size: x-large;
    padding: 1em;
    line-height: 1em;
    word-break: break-word;
  }

  &:focus {
    outline: none;
  }

  &__buttonsRow {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
  }

  &__button {
    line-height: 1em;
    color: grey;
    margin-left: 5px;
  }

  &:hover {
    text-decoration: underline;
  }
}
