.container {        
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    width: 75%;
    justify-content: space-between; 
    margin: auto;
    outline: 1px solid white;
    
    > div 
    {
        width: 100%;
        color: black;
    }

    > div > span{

        background-color: white;
        padding: .5em;
        line-height: .5em;
        font-weight: lighter;
        display: block;
        margin-left: 1em;
        margin-right: 1em;
        border-bottom: black 1px solid;
    }

    .column
    {
        border-radius: 3px;
        background-color: white;
        margin: 1%;
        text-align: center;
        height: 100%;
        border-bottom: white 1px solid;
        min-height: 5em;
    }

    .task
    {
        width: 100%;
        line-height: 2em;
        display: block;
        padding-bottom: 1.5em;
        padding-top: 1.5em;
    }

    .task:hover
    {
        background-color: lightgray;
        cursor: move;
    }
}

#done
{
    color: grey;
    font-style: italic;
}

.remove
{
    text-align: right;
    display: block;
    line-height: 1em;
    color: gray;
}

.remove:hover
{
    text-decoration: underline;
}
