<div class="container">
    <ng-container *ngFor="let taskList of taskLists let taskListIndex = index trackBy : trackByFn">
        <div class="column" id={{taskList.title}} (dragover)="dragover($event)" (drop)="dropping(taskListIndex)">
            <span class="column__header">{{taskList.title | uppercase}}</span>
            <span *ngFor="let task of taskLists[taskListIndex].tasks let taskIndex = index trackBy : trackByFn" (dragstart)="dragging(task, taskListIndex)">
                <span class="task" draggable="true">
                    <div class="task__textArea" attr.contenteditable={{taskEditable}} name="fieldName" ngDefaultControl [(ngModel)]="taskContent">
                        <h2>{{taskLists[taskListIndex].tasks[taskIndex].content}}</h2>
                    </div>
                    <br>
                    <button class="button" (click)="editTask()">edit</button>
                    <button class="button" (click)="saveTask()">save</button>
                    <button class="button" (click)="removeTask(taskLists[taskListIndex].tasks[taskIndex].id, taskListIndex)">remove</button>
                </span>
            </span>
        </div>
    </ng-container>   
</div>