
<div class="container">
    <div class="column">
        <span class="heading">TODO</span>
        <span *ngFor="let task of toDoTasks let i = index trackBy: trackByFn">
            <span draggable="true" 
            (dragstart)="dragging(task, 'todo')"
            (dragover)="dragover($event, task)" 
            (drop)="dropping($event)" 
            class="task"
            id="todo">
            <input [(ngModel)]="toDoTasks[i]" placeholder="Enter a note">
            </span>
            <div class="button-row">
            <button class="remove" (click)="removeSelectedTaskFromTaskList(task, toDoTasks)">remove</button>
            </div>  
        </span>
    </div>
    
    <div class="column">
        <span class="heading">DOING</span>
        <span *ngFor="let task of doingTasks let i = index trackBy: trackByFn">
            <span draggable="true" 
            (dragstart)="dragging(task, 'doing')"
            (dragover)="dragover($event, task)" 
            (drop)="dropping($event)" 
            class="task"
            id="doing">
            <input [(ngModel)]="doingTasks[i]" placeholder="Enter a note">
            <br>
            </span>
            <div class="button-row">
            <button class="remove" (click)="removeSelectedTaskFromTaskList(task, doingTasks)">remove</button>
            </div>
        </span>
    </div>   
        
    <div class="column">
        <span class="heading">DONE</span>
        <span *ngFor="let task of doneTasks let i = index trackBy: trackByFn">
            <span draggable="true" 
            (dragstart)="dragging(task, 'done')"
            (dragover)="dragover($event, task)" 
            (drop)="dropping($event)"
            class="task"
            id="done">
            <input [(ngModel)]="doneTasks[i]" placeholder="Enter a note">
            </span>
            <div class="button-row">
            <button class="remove" (click)="removeSelectedTaskFromTaskList(task, doneTasks)">remove</button>
            </div>
        </span>
    </div>
</div>



