.container {        
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    width: 75%;
    justify-content: space-between; 
    margin: auto;
    outline: 1px solid white;
}

.column {
    background-color: white;
    width: 100%;
    margin: 5px;
    text-align: center;
    height: 100vh fit-content;
    min-height: 10em;

    &__header {
        color: white;
        background-color: #67217a;
        line-height: 2em;
        width: 100%;
        display: block;
    }
}

.task {
    width:auto;
    line-height: 1em;
    display: block;
    padding-top: 1.5em;
    border: 1px solid black;
    background-color: white;
    margin: 1em;

    &:hover {
        cursor: move;
        background-color: lightyellow;
    }
    
    &__textArea {
        resize: none;
        width: 80%;
        min-height: 4em;
        line-height: 1em;
        color: black;
        text-align: center;
        border: #67217a dashed 1px;
        margin: auto;
        padding-top: 2px;
        padding-bottom: 2px;
        height: 100%;
        display: inline-block;
    }
    
    &:focus {
        outline:none;
    }
}

.button {
    line-height: 1em;
    color: gray;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 5px;

    &:hover {
        text-decoration: underline;  
    }
}